@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@import url(./normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-width: 375px;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --clr-title: hsl(233, 26%, 24%);
  --clr-primary: hsl(136, 65%, 51%);
  --clr-secondary: hsl(192, 70%, 51%);
  --clr-text: hsl(233, 8%, 62%);
  --clr-white-700: hsl(0, 0%, 100%);
  --clr-white-600: hsl(0, 0%, 98%);
  --clr-white-400: hsl(220, 16%, 96%);
}

body {
  font: 18px "Public Sans", sans-serif;
  text-align: center;
  color: var(--clr-text);
}

h1 {
  font-size: 40px;
  max-width: 375px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  max-width: 250px;
  margin: 0 auto;
}

.article h3 {
  font-size: 18px;
  margin: 10px 0;
}

p {
  font-size: 15px;
  line-height: 2.5ch;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.article p {
  font-size: 14px;
}

.clr-tlt {
  font-weight: 400;
  color: var(--clr-title);
}

@media (min-width: 768px) {
  body {
    text-align: left;
  }

  h1,
  h2,
  p {
    margin-left: 0;
  }

  h1 {
    font-size: 45px;
    background-blend-mode: exclusion;
  }

  h2 {
    font-size: 35px;
    max-width: max-content;
  }

  p {
    max-width: 380px;
  }

  .about p {
    max-width: 580px;
  }
}

/* >header */
header {
  position: sticky;
  top: 0;
  z-index: 2;
  isolation: isolate;
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--clr-white-700);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  background-color: var(--clr-white-700);
  z-index: 2;
}

header :is(.menu, button) {
  display: none;
}

.menu.open {
  position: fixed;
  inset: 0;
  display: block;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  z-index: -1;
}

.menu nav {
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
  margin: 2rem;
  margin-top: 5.5rem;
  border-radius: 5px;
  color: var(--clr-title);
  background-color: white;
}

@media (min-width: 768px) {
  header {
    padding: 1.5rem;
  }

  header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .menu-btn {
    display: none;
  }

  .header {
    padding: 0;
  }

  header :is(.menu, .menu.open, button) {
    position: static;
    display: block;
  }

  .menu nav {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: var(--clr-text);
  }

  header a:hover {
    position: relative;
    color: var(--clr-title);
  }

  header a:hover::after {
    position: absolute;
    left: 0;
    bottom: calc(-2rem + 5px);
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(
      to right,
      var(--clr-primary),
      var(--clr-secondary)
    );
  }
}

/* >hero section */
.hero-section {
  background: url(../images/bg-intro-mobile.svg) no-repeat 100% -50px;
}

.mockup {
  display: none;
  width: 360px;
  transform: translateY(-29%);
}

.hero-section .content {
  transform: translateY(-40%);
}

@media (min-width: 768px) {
  .hero-section {
    padding: 1.5rem;
    background: url(../images/bg-intro-desktop.svg) no-repeat
      calc(100% - 50vw + 1150px) calc(50% - 65px);
    background-size: 1200px;
  }

  .hero-section > div {
    position: relative;
  }

  .mockup {
    position: absolute;
    top: -18%;
    right: -23%;
    width: 700px;
  }

  .hero-section .content {
    margin: 10rem 10rem 10rem 0;
    transform: none;
  }
}

/* >about section */
.about {
  padding: 3rem 1.5rem;
  background-color: var(--clr-white-400);
}

.features {
  display: grid;
  gap: 2rem;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .about {
    padding: 5rem 1.5rem;
  }

  .features {
    grid-auto-flow: column;
  }
}

/* >article section */
.articles {
  padding: 4rem 1.5rem;
}

.articles section {
  display: grid;
  gap: 2rem;
}

.articles .article {
  text-align: left;
  margin: 0 auto;
  border-radius: 7px;
  box-shadow: 0 18px 23px 22px var(--clr-white-400);
  background-color: var(--clr-white-700);
  overflow: hidden;
  isolation: isolate;
}

.article img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.article .content {
  margin: 2rem;
}

.article span {
  font-size: 12px;
}

@media (min-width: 768px) {
  .articles {
    padding: 5rem 1.5rem;
  }

  .articles section {
    grid-template-columns: repeat(4, 1fr);
  }

  section h2 {
    grid-column: 1/ -1;
  }
}

/* >footer */
footer {
  padding: 2rem 1.5rem;
  color: rgba(255, 255, 255, 0.767);
  background-color: var(--clr-title);
}

footer > div {
  display: grid;
  justify-items: center;
  gap: 2rem;
}

.social-plugins {
  display: flex;
  gap: 1rem;
}

.nav-links {
  display: grid;
  gap: 1rem;
}

footer a:hover {
  fill: var(--clr-primary);
  color: var(--clr-primary);
  opacity: 0.8;
}

.copy-rights {
  opacity: 0.6;
}

@media (min-width: 768px) {
  footer {
    padding: 3.5rem 1.5rem;
  }

  footer > div {
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-start;
    width: 100%;
  }

  .social-plugins {
    grid-row: 2;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    grid-column: 2;
    grid-row: span 2;
  }

  footer :is(button, .copy-rights) {
    justify-self: right;
  }

  .copy-rights {
    grid-column: 3;
    grid-row: 2;
    margin: 0;
  }
}
